
  body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Raleway", sans-serif;
    color: #777;
  }

  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .bgimg-1 {
    background-image: url("../img1.jpg");
    min-height: 100%;
    background-position: bottom;
  }

  .bgimg-2 {
    background-image: url("../img2.jpg");
    min-height: 500px;
    background-position: bottom;
  }

  .bgimg-3 {
    background-image: url("../img3.jpg");
    min-height: 500px;
    background-position: bottom;
  }

  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    margin-top: -60.5px;
  }

  .caption span.border {
    color: #ddd;
    padding: 25px;
    font-size: 70px;
    letter-spacing: -5px;
    font-weight: 700;
    font-family: "Josefin Slab";
  }

  .nav {
    height: 10%;
  }

  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 700 22px "Josefin Slab", sans-serif;
    color: #111;
  }

  .caption2 {
    background-color: transparent;
    color: #F7F7F7;
    font-family: "Josefin Slab";
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 3px;
  }
  #item {

  }
